<div class="wrapper">
  <a class="btn" target="_blank" href="{{socialLinks.links.facebook}}">
    <i class="fab fa-facebook-square"></i>
  </a>
  <a class="btn" target="_top" href="{{socialLinks.links.gmail}}">
    <i class="fab fa-google"></i>
  </a>
  <a class="btn" target="_blank"  href="{{socialLinks.links.instagram}}">
    <i class="fab fa-instagram"></i>
  </a>
  <a class="btn" target="_blank" href="{{socialLinks.links.youtube}}">
    <i class="fab fa-youtube"></i>
  </a>
  <a class="btn" target="_blank" href="{{socialLinks.links.linkedin}}">
    <i class="fab fa-linkedin"></i>
  </a>
</div>
